/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* root variables */
:root {
  --color-primary: #f77f00;
  --color-secondary: #d62828;
  --color-tertiary: #fcbf49;
  --color-text: #003049;
  --color-background: #eae2b7;

  --color-white: #f9f9f9;
  --color-black: #0c0a0a;

  --font-sans: "Lora", serif;
  --font-serif: "Raleway", sans-serif;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.6;
}

.font-header {
    font-family: var(--font-sans);
}
